<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>FDPTzDPEL1LotImwVQaeeVAo8sUIn0npFqs55t73l0lCsphOK3</string>
	<key>consumer_Key</key>
	<string>FVtCjcd8pIGpm8GGN5fxw75TE</string>
</dict>
</plist>
